html {
  font-size: 100%;
}

.titleCard {

  border: 2px solid whitesmoke;
  border-radius: 5px;
  margin: 10px 5px;
  padding: 4px;
  background: linear-gradient(35deg,#CCFFFF,#FFCCCC);
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);

}

.fullCard {

  border: 1px solid whitesmoke;
  border-radius: 5px;
  margin: 10px 5px;
  padding: 4px;
  color: whitesmoke;
}

.projectCard {
  width: 245px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin: auto;
  padding: 20px;
  box-shadow: 0 10px 20px rgba(255,255,255,0.19), 0 6px 6px rgba(255, 255, 255, 0.23);
  background: linear-gradient(35deg,#CCFFFF,#FFCCCC);

}


.projectContent {
  padding: 10px;
}
.projectText {
  margin-bottom: 30px;
}

.projectDescription {
  font-weight: 50;
}

#navbar {
  position: fixed;
  bottom: 0px;
  left: 0px;
  
  
      width: 100%;
      background-color: #767676;
    }

nav ul {
  margin: 0px;
  padding: 5px 0px 5px 30px;
}
nav li {
  display: inline;
}


h1 {
  text-align: center;
  position: relative;
  top: 5px;
}

p {
  text-align: justify;
}

#back {
  position: fixed;
  padding: 0;
  margin: 0;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(black, #000099, #66c2ff, #ffcccc, #ffeee6);
}

body {
  font-family: 'Catamaran', sans-serif;
  line-height: 25px;
  margin: 0px;
  padding: 0px;
  background-color: (#CCFFFF);
}
div:hover{
  animation-name: colorover;
  animation-duration: 3s;
}
@keyframes colorover {
  0% {background-color: whitesmoke;}
  50% {background-color: rgb(56, 29, 209);}
  100% {background-color:whitesmoke;}
}

.projectCard:hover{
  animation-name: magnify;
  animation-duration: 2s;
}
@keyframes magnify {
  0% {transform: scale(1.1)}
  50% {transform: scale(1.5)}
  100% {transform: scale(1.1)}
}

/* add animated stuff to the background????and also lets put in animation-timing-function with some sort of effect. Nothing too overkill here though.*
/* This is a single-line comment *